In [1]:
import pandas as pd
import os
import random

train_df=pd.read_csv("all_train.csv")
test_df=pd.read_csv("all_test.csv")

In [2]:
train_df.head()

,Unnamed: 0,id,title,content,label
0,0,7a3dd79f90ee419da87190cff60f7a86,问责领导(上黄镇党委书记张涛，宣国才真能一手遮天吗？),这几天看了有人举报施某某的贴子，经与举报人联系证实，是宣某当天中午请举报人和枪手喝酒后，晚上...,2
1,1,7640a5589bc7486ca199eeeb38af79dd,江歌事件:教会孩子，善良的同时更要懂得保护自己!,过去一年的江歌悲剧，这几日再次刷屏：住在东京都中野区的中国女留学生江歌，收留了被前男友陈世锋...,1
2,2,8c5bda93e4ba401f90a0faa5b28fe57f,"绝味鸭脖广告""开黄腔""引众怒 ""双11""这么拼值吗?",“双11”1600亿的销售额让中国乃至全世界感到震惊，为此，不仅有不惜欠债百万的“剁手党”，...,2
3,3,1aa777fed31a4b8a9d866f05b5477557,央视曝光!如东一医药企业将槽罐车改成垃圾车，夜间偷排高浓度废水,2016年以来，如东高新区一家叫做拜瑞生物医药的企业竟然将装废水的槽罐车伪装成洒水车，常年在...,2
4,4,6c67ac55360340258e157f3710ebae6c,恶劣至极，央视都曝光了!南通如东一医药企业将槽罐车改成洒水车，夜间偷排高浓度废水...丢大发了!,新闻资讯•民生热点•城市生活•南通人都在看浏览更多资讯请关注微信公众号:南通传媒网昨晚央视一...,2

In [3]:
train_df = train_df[['id', 'title', 'content', 'label']]

In [4]:
test_df.head()

,Unnamed: 0,id,title,content
0,0,b9dbbdee402e4dd0a5d1041ff44a001c,“两减六治三提升”专项督查暗访 常州溧阳：矿山生态修复滞后 企业防尘措施不到位,“两减六治三提升”专项督查暗访 常州溧阳：矿山生态修复滞后 企业防尘措施不到位
1,1,1b48213241064f788dde3c3b359e7622,惊！南宁一家 4 口中毒，母亲口吐白沫！罪魁祸首竟是……,南宁晚报 /zaker 南宁记者 潘国武 文 / 图救援人员赶到邕武路二塘坡时，报警电话却无...
2,2,f68215c26fed430dab72dd6bea7b52ad,病家求医寄以生死 丹阳人民医院枉为医表,本帖最后由 banished 于 2017-9-28 08:46 编辑 病家求医寄以生死 丹...
3,3,bce43c07bf70468cb21381c4a4c5e303,央视曝光!如东高新区某制药企业将高浓度废水，伪装洒水车洒在马路上!!,【今日如东】官方微信事业部整理发布责编/葱（via@关注如东、南通那点事儿）天作孽不可为人作...
4,4,d0aa38c8481a4d34bf6138e640664073,江苏如东 药企改装“洒水车” 废水直排路面,央视网消息:江苏如东，近期发生了一件非常恶劣的偷排废水行为。以往我们知道的偷排废水，往往是接...

In [5]:
test_df = test_df[['id', 'title', 'content']]

In [6]:
import re
def replace_punctuation(example):
    example = list(example)
    pre = ''
    cur = ''
    for i in range(len(example)):
        if i == 0:
            pre = example[i]
            continue
        pre = example[i-1]
        cur = example[i]
        if re.match("[\u4e00-\u9fa5]", pre):
            if re.match("[\u4e00-\u9fa5]", cur):
                continue
            elif cur == ',':
                example[i] = '，'
            elif cur == '.':
                example[i] = '。'
            elif cur == '?':
                example[i] = '？'
            elif cur == ':':
                example[i] = '：'
            elif cur == ';':
                example[i] = '；'
            elif cur == '!':
                example[i] = '！'
            elif cur == '"':
                example[i] = '”'
            elif cur == "'":
                example[i] = "’"
    return ''.join(example)

In [7]:
train_df['label']=train_df['label'].fillna(-1)
train_df=train_df[train_df['label']!=-1]
train_df['label']=train_df['label'].astype(int)
test_df['label']=0

test_df['content']=test_df['content'].fillna('无')
train_df['content']=train_df['content'].fillna('无')
test_df['title']=test_df['title'].fillna('无')
train_df['title']=train_df['title'].fillna('无')

In [8]:
rep_train_df = train_df[['title', 'content']].applymap(replace_punctuation)

In [9]:
rep_train_df = pd.concat([train_df[['id']],rep_train_df], axis=1)

In [10]:
rep_train_df.head()

,id,title,content
0,7a3dd79f90ee419da87190cff60f7a86,问责领导(上黄镇党委书记张涛，宣国才真能一手遮天吗？),这几天看了有人举报施某某的贴子，经与举报人联系证实，是宣某当天中午请举报人和枪手喝酒后，晚上...
1,7640a5589bc7486ca199eeeb38af79dd,江歌事件：教会孩子，善良的同时更要懂得保护自己！,过去一年的江歌悲剧，这几日再次刷屏：住在东京都中野区的中国女留学生江歌，收留了被前男友陈世锋...
2,8c5bda93e4ba401f90a0faa5b28fe57f,"绝味鸭脖广告”开黄腔”引众怒 ""双11""这么拼值吗？",“双11”1600亿的销售额让中国乃至全世界感到震惊，为此，不仅有不惜欠债百万的“剁手党”，...
3,1aa777fed31a4b8a9d866f05b5477557,央视曝光！如东一医药企业将槽罐车改成垃圾车，夜间偷排高浓度废水,2016年以来，如东高新区一家叫做拜瑞生物医药的企业竟然将装废水的槽罐车伪装成洒水车，常年在...
4,6c67ac55360340258e157f3710ebae6c,恶劣至极，央视都曝光了！南通如东一医药企业将槽罐车改成洒水车，夜间偷排高浓度废水。..丢大发了！,新闻资讯•民生热点•城市生活•南通人都在看浏览更多资讯请关注微信公众号：南通传媒网昨晚央视一...

In [11]:
rep_test_df = test_df[['title', 'content']].applymap(replace_punctuation)

In [12]:
rep_test_df = pd.concat([test_df[['id']],rep_test_df], axis=1)

In [13]:
train_title=[]
test_title=[]
test_content=[]
train_content=[]

r1 = "[a-zA-Z'!\"#$%&'()*+,-./:;<=>?@★[\\]^_`{|}~]+"

for train_str in rep_train_df['title']:
    train_str = re.sub(r1,'',train_str)
    train_title.append(train_str)
for train_str in rep_train_df['content']:
    train_str = re.sub(r1,'',train_str)
    train_content.append(train_str)
for test_str in rep_test_df['title']:
    test_str = re.sub(r1,'',test_str)
    test_title.append(test_str)
for test_str in rep_test_df['content']:
    test_str = re.sub(r1,'',test_str)
    test_content.append(test_str)

In [14]:
train_df['title']=train_title
train_df['content']=train_content
test_df['title']=test_title
test_df['content']=test_content

test_df['content']=test_df['content'].fillna('无')
train_df['content']=train_df['content'].fillna('无')
test_df['title']=test_df['title'].fillna('无')
train_df['title']=train_df['title'].fillna('无')

In [16]:
train_df.to_csv("replacement/train.csv", index=False)
test_df.to_csv("replacement/test.csv", index=False)

## 替换数据划分

In [17]:
train_df=pd.read_csv("replacement/train.csv")
test_df=pd.read_csv("replacement/test.csv")

train_df = train_df[['id', 'title', 'content', 'label']]
test_df = test_df[['id', 'title', 'content']]

In [18]:
train_df['label']=train_df['label'].fillna(-1)
train_df=train_df[train_df['label']!=-1]
train_df['label']=train_df['label'].astype(int)
test_df['label']=0

test_df['content']=test_df['content'].fillna('无')
train_df['content']=train_df['content'].fillna('无')
test_df['title']=test_df['title'].fillna('无')
train_df['title']=train_df['title'].fillna('无')

In [19]:
import numpy as np
from sklearn.model_selection import StratifiedKFold
import os

X = np.array(train_df.index)
y = train_df.loc[:,'label'].to_numpy()

In [20]:
def generate_data(random_state = 42, is_pse_label=True):
    skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=random_state)
    i = 0
    for train_index, dev_index in skf.split(X, y):
        print(i, "TRAIN:", train_index, "TEST:", dev_index)
        DATA_DIR = "./data_StratifiedKFold_{}/data_replacement_{}/".format(random_state,i)
        if not os.path.exists(DATA_DIR):
            os.makedirs(DATA_DIR)
        tmp_train_df = train_df.iloc[train_index]
        
        tmp_dev_df = train_df.iloc[dev_index]
        
        test_df.to_csv(DATA_DIR+"test.csv")
        if is_pse_label:
            pse_dir = "data_pse_{}/".format(i)
            pse_df = pd.read_csv(pse_dir+'train.csv')

            tmp_train_df = pd.concat([tmp_train_df, pse_df],ignore_index=True,sort=False)
            
        tmp_train_df.to_csv(DATA_DIR + "train.csv")
        tmp_dev_df.to_csv(DATA_DIR+"dev.csv")
        print(tmp_train_df.shape, tmp_dev_df.shape)
        i+=1

In [21]:
generate_data(random_state=42, is_pse_label=False)

0 TRAIN: [    0     2     3 ... 14692 14693 14695] TEST: [    1     5    16 ... 14678 14680 14694]
(11755, 4) (2941, 4)
1 TRAIN: [    0     1     3 ... 14692 14693 14694] TEST: [    2     4     6 ... 14663 14689 14695]
(11756, 4) (2940, 4)
2 TRAIN: [    0     1     2 ... 14692 14694 14695] TEST: [    8    23    31 ... 14687 14688 14693]
(11757, 4) (2939, 4)
3 TRAIN: [    1     2     3 ... 14693 14694 14695] TEST: [    0     9    13 ... 14661 14662 14679]
(11758, 4) (2938, 4)
4 TRAIN: [    0     1     2 ... 14693 14694 14695] TEST: [    3     7    11 ... 14690 14691 14692]
(11758, 4) (2938, 4)